/* use this to put borders around things... */
.thin_border{
	border: 1px solid black;
}

nav{
    background: #26DCDB;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white 

}
body{
	background-color: #4FAE2D
}
.Navi-enlace{
	color: #FFFFFF
}

.divi{
	display: inline-block;
	background: #F87EFF;
	color: #FFFFFF;
	padding: 5px 25px;
  text-decoration: none;

}
.divi:hover{
  background-color: #DC2626

}

img{
 
  margin-right: auto;
}

@media (max-width:600px){
  nav{
flex-direction: column;
  }
  .divi{
    margin: 10px 0px;
  }
}

@media (max-width:700px){
  nav{
flex-direction: column;
  }
  .divi{
    margin: 10px 0px;
  }
}
